Counter: Digunakan untuk menghitung jumlah elemen dalam suatu dataset.

RandomUnderSampler: Digunakan untuk melakukan undersampling secara acak pada dataset untuk menyeimbangkan kelas.

RandomOverSampler dan SMOTE: Digunakan untuk melakukan oversampling pada dataset untuk menyeimbangkan kelas dengan metode 

oversampling dan SMOTE (Synthetic Minority Over-sampling Technique).

train_test_split: Digunakan untuk membagi dataset menjadi data training dan data test.

pandas dan numpy: Digunakan untuk manipulasi data.

In [3]:
pip install --upgrade scikit-learn imbalanced-learn

Requirement already satisfied: scikit-learn in c:\users\hp\anaconda3\soni\lib\site-packages (1.3.0)
Requirement already satisfied: imbalanced-learn in c:\users\hp\anaconda3\soni\lib\site-packages (0.10.1)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.11.0-py3-none-any.whl (235 kB)
     ------------------------------------ 235.6/235.6 kB 802.1 kB/s eta 0:00:00
Requirement already satisfied: scipy>=1.5.0 in c:\users\hp\anaconda3\soni\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\anaconda3\soni\lib\site-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\soni\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\soni\lib\site-packages (from scikit-learn) (2.2.0)
Installing collected packages: imbalanced-learn
  Attempting uninstall: imbalanced-learn
    Found existing installation: imbalanced-learn 0.10.1
    Uninstalling imbalanced-learn-0.10.1:
      Successfully uninstalled imbalanced-learn-0.10.1
Successfully installed imbalanced-learn-0.11.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
#PART 1
# import random undersampling and other necessary libraries 
from collections import Counter
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler, SMOTE
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

#import data
url = "https://raw.githubusercontent.com/jackty9/Handling_Imbalanced_Data_in_Python/master/bank-full-encoded.csv"
df = pd.read_csv(url)

# Separating the independent variables from dependent variables
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

#Split train-test data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30)

# summarize class distribution
print("Before sampling: ", Counter(y_train))

Before sampling:  Counter({0: 27907, 1: 3740})

In [2]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,40,4,1,2,0,3036,1,0,2,4,8,261,0,0,0,3,0
1,26,9,2,1,0,945,1,0,2,4,8,151,0,0,0,3,0
2,15,2,1,1,0,918,1,1,2,4,8,76,0,0,0,3,0
3,29,1,1,3,0,2420,1,0,2,4,8,92,0,0,0,3,0
4,15,11,2,3,0,917,0,0,2,4,8,198,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,33,9,1,2,0,1741,0,0,0,16,9,975,2,0,0,3,1
45207,53,5,0,0,0,2639,0,0,0,16,9,456,1,0,0,3,1
45208,54,5,1,1,0,5455,0,0,0,16,9,1116,4,181,3,2,1
45209,39,1,1,1,0,1584,0,0,1,16,9,508,3,0,0,3,0
45210,19,2,1,1,0,3779,0,0,0,16,9,361,1,185,11,1,0

In [3]:
# define undersampling strategy
undersample = RandomUnderSampler(sampling_strategy=1)

# fit and apply the transform
X_train_under, y_train_under = undersample.fit_resample(X_train, y_train)

# summarize class distribution
print("After undersampling: ", Counter(y_train_under))

After undersampling:  Counter({0: 3740, 1: 3740})

In [4]:
# define oversampling  strategy
oversample = RandomOverSampler(sampling_strategy=0.5)

# fit and apply the transform
X_train_over, y_train_over = oversample.fit_resample(X_train, y_train)

print("After oversampling: ", Counter(y_train_over))

After oversampling:  Counter({0: 27907, 1: 13953})

In [5]:
# define undersampling strategy
oversample = SMOTE(sampling_strategy=0.5)

# fit and apply the transform
X_train_over, y_train_over = oversample.fit_resample(X_train, y_train)

print("After oversampling: ", Counter(y_train_over))

After oversampling:  Counter({0: 27907, 1: 13953})

In [ ]:
from imblearn.combine import SMOTEENN

# define undersampling strategy
oversample = SMOTEENN()

# fit and apply the transform
X_train_over, y_train_over = oversample.fit_resample(X_train, y_train)

print("After oversampling: ", Counter(y_train_over))