In [2]:
import pandas as pd
import numpy as np

In [5]:
from collections import Counter

# import ML library
from sklearn import svm, preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier

# import evaluastions metrics
from sklearn.metrics import classification_report, accuracy_score

import warnings
warnings.filterwarnings('ignore')

In [300]:
t= pd.read_csv(r'C:\BOOTCAMP\4. SUPERVISED/fifa.csv')

In [301]:
t

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,1001,Gábor Király,69,GK,191,Right,0,,,,,,,70,66,63,74,35,66.0
1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,,,,,,NaN
2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,,,,,,NaN
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,,,,,,NaN
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8842,9801,Danijel Ljuboja,73,A,189,Left,1,62,73,64,74,56,68,,,,,,NaN
8843,9805,Craig Bellamy,79,A,175,Right,0,80,78,67,81,62,71,,,,,,NaN
8844,9807,Michel Breuer,68,D,183,Right,0,61,40,56,51,70,74,,,,,,NaN
8845,9815,Gill Swerts,65,D,179,Right,0,65,48,63,65,67,69,,,,,,NaN
8846,9913,Mehdi Nafti,69,M,179,Right,0,55,56,64,65,69,60,,,,,,NaN

In [281]:
dataku.to_excel(r'C:\BOOTCAMP\4. SUPERVISED/ff.xlsx')

In [302]:
t = t.replace(' ', 0)

In [303]:
t

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,1001,Gábor Király,69,GK,191,Right,0,0,0,0,0,0,0,70,66,63,74,35,66.0
1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,0,0,0,0,0,NaN
2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,0,0,0,0,0,NaN
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,0,0,0,0,0,NaN
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8842,9801,Danijel Ljuboja,73,A,189,Left,1,62,73,64,74,56,68,0,0,0,0,0,NaN
8843,9805,Craig Bellamy,79,A,175,Right,0,80,78,67,81,62,71,0,0,0,0,0,NaN
8844,9807,Michel Breuer,68,D,183,Right,0,61,40,56,51,70,74,0,0,0,0,0,NaN
8845,9815,Gill Swerts,65,D,179,Right,0,65,48,63,65,67,69,0,0,0,0,0,NaN
8846,9913,Mehdi Nafti,69,M,179,Right,0,55,56,64,65,69,60,0,0,0,0,0,NaN

In [304]:
t = t[[ ' position', ' height', ' rare',
       ' pace', ' shooting', ' passing', ' dribbling', ' defending',
       ' heading', ' diving', ' handling', ' kicking', ' reflexes', ' speed']]

In [305]:
t.isnull().sum()

 position     0
 height       0
 rare         0
 pace         0
 shooting     0
 passing      0
 dribbling    0
 defending    0
 heading      0
 diving       0
 handling     0
 kicking      0
 reflexes     0
 speed        0
dtype: int64

In [308]:
t = t[[' position',' pace', ' shooting', ' passing',
       ' dribbling', ' defending', ' heading', ' diving', ' handling',
       ' kicking', ' reflexes', ' speed']].astype(int)

In [309]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8847 entries, 0 to 8846
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0    position   8847 non-null   int32
 1    pace       8847 non-null   int32
 2    shooting   8847 non-null   int32
 3    passing    8847 non-null   int32
 4    dribbling  8847 non-null   int32
 5    defending  8847 non-null   int32
 6    heading    8847 non-null   int32
 7    diving     8847 non-null   int32
 8    handling   8847 non-null   int32
 9    kicking    8847 non-null   int32
 10   reflexes   8847 non-null   int32
 11   speed      8847 non-null   int32
dtypes: int32(12)
memory usage: 414.8 KB

In [307]:
t.loc[t[' position'] == ' GK'] = 0
t.loc[t[' position'] == ' M'] = 1
t.loc[t[' position'] == ' A']  = 2
t.loc[t[' position'] == ' D']  = 3

In [310]:
t

,position,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed
0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,1,1,1,1
2,2,2,2,2,2,2,2,2,2,2,2,2
3,3,3,3,3,3,3,3,3,3,3,3,3
4,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8842,2,2,2,2,2,2,2,2,2,2,2,2
8843,2,2,2,2,2,2,2,2,2,2,2,2
8844,3,3,3,3,3,3,3,3,3,3,3,3
8845,3,3,3,3,3,3,3,3,3,3,3,3
8846,1,1,1,1,1,1,1,1,1,1,1,1

In [203]:
x.dtypes

 pace         int32
 shooting     int32
 passing      int32
 dribbling    int32
 defending    int32
 heading      int32
 diving       int32
 handling     int32
 kicking      int32
 reflexes     int32
 speed        int32
dtype: object

In [311]:
X = t.drop(columns = ' position')
y = t[' position']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [312]:
X_train, X_test, y_test, y_train

(       pace   shooting   passing   dribbling   defending   heading   diving  \
 300       1          1         1           1           1         1        1
 1144      1          1         1           1           1         1        1
 1832      3          3         3           3           3         3        3
 3404      3          3         3           3           3         3        3
 6041      2          2         2           2           2         2        2
 ...     ...        ...       ...         ...         ...       ...      ...
 5734      2          2         2           2           2         2        2
 5191      1          1         1           1           1         1        1
 5390      0          0         0           0           0         0        0
 860       3          3         3           3           3         3        3
 7270      1          1         1           1           1         1        1

        handling   kicking   reflexes   speed
 300           1         1          1       1
 1144          1         1          1       1
 1832          3         3          3       3
 3404          3         3          3       3
 6041          2         2          2       2
 ...         ...       ...        ...     ...
 5734          2         2          2       2
 5191          1         1          1       1
 5390          0         0          0       0
 860           3         3          3       3
 7270          1         1          1       1

 [7077 rows x 11 columns],
        pace   shooting   passing   dribbling   defending   heading   diving  \
 6710      3          3         3           3           3         3        3
 8692      1          1         1           1           1         1        1
 6871      3          3         3           3           3         3        3
 8822      1          1         1           1           1         1        1
 2698      2          2         2           2           2         2        2
 ...     ...        ...       ...         ...         ...       ...      ...
 7401      2          2         2           2           2         2        2
 7660      1          1         1           1           1         1        1
 6074      1          1         1           1           1         1        1
 1598      1          1         1           1           1         1        1
 5587      2          2         2           2           2         2        2

        handling   kicking   reflexes   speed
 6710          3         3          3       3
 8692          1         1          1       1
 6871          3         3          3       3
 8822          1         1          1       1
 2698          2         2          2       2
 ...         ...       ...        ...     ...
 7401          2         2          2       2
 7660          1         1          1       1
 6074          1         1          1       1
 1598          1         1          1       1
 5587          2         2          2       2

 [1770 rows x 11 columns],
 6710    3
 8692    1
 6871    3
 8822    1
 2698    2
        ..
 7401    2
 7660    1
 6074    1
 1598    1
 5587    2
 Name:  position, Length: 1770, dtype: int32,
 300     1
 1144    1
 1832    3
 3404    3
 6041    2
        ..
 5734    2
 5191    1
 5390    0
 860     3
 7270    1
 Name:  position, Length: 7077, dtype: int32)

In [313]:
t[' position'].value_counts()

1    3041
3    2794
2    2082
0     930
Name:  position, dtype: int64

In [314]:
from sklearn.multiclass import OneVsOneClassifier, OneVsRestClassifier
from sklearn.svm import LinearSVC  # Perbaikan pada penamaan modul svm
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# **One VS One**

In [315]:
clf = OneVsOneClassifier(LinearSVC()).fit(X_train, y_train)

In [316]:
prediction = clf.predict(X_test)
print('Accuracy :', clf.score(X_test, prediction))# accuracy_score
print(classification_report(y_test,prediction))

Accuracy : 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       170
           1       1.00      1.00      1.00       608
           2       1.00      1.00      1.00       431
           3       1.00      1.00      1.00       561

    accuracy                           1.00      1770
   macro avg       1.00      1.00      1.00      1770
weighted avg       1.00      1.00      1.00      1770

In [317]:
y_pred = clf.predict(X_test)
y_pred

array([3, 1, 3, ..., 1, 1, 2])

In [318]:
# Evaluasi akurasi
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

Akurasi: 1.0

# **One VS Rest**

In [319]:
cls = OneVsRestClassifier(LogisticRegression()).fit(X_train, y_train)

In [320]:
prediction = cls.predict(X_test)
print('Accuracy :', cls.score(X_test, prediction))# accuracy_score
print(classification_report(y_test,prediction))

Accuracy : 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       170
           1       1.00      1.00      1.00       608
           2       1.00      1.00      1.00       431
           3       1.00      1.00      1.00       561

    accuracy                           1.00      1770
   macro avg       1.00      1.00      1.00      1770
weighted avg       1.00      1.00      1.00      1770

In [336]:
y_pred = cls.predict(X_test)
y_pred

array([3, 1, 3, ..., 1, 1, 2])

In [322]:
# Evaluasi akurasi
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

Akurasi: 1.0

In [326]:
cls

OneVsRestClassifier(estimator=LogisticRegression())

In [338]:
x_test

,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed
8131,1,1,1,1,1,1,1,1,1,1,1
237,2,2,2,2,2,2,2,2,2,2,2
4862,3,3,3,3,3,3,3,3,3,3,3
7493,3,3,3,3,3,3,3,3,3,3,3
6740,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
5171,0,0,0,0,0,0,0,0,0,0,0
7034,2,2,2,2,2,2,2,2,2,2,2
7877,1,1,1,1,1,1,1,1,1,1,1
5295,1,1,1,1,1,1,1,1,1,1,1
6608,3,3,3,3,3,3,3,3,3,3,3